<button id="buttonOne" class="btn btn-default" data-toggle="modal" data-target="#signupModal">Sign Up</button>

<div id="signupModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">

<h1>Sign Up!</h1>
</div>

<div class="modal-body">
<%= form_for @user do |f| %>
	<div class="form-group">
	<%= f.label :first %>
	<%= f.text_field :first, class: 'form-control', placeholder: "First Name"%>
	</div>

	<div class="form-group">
	<%= f.label :last %>
	<%= f.text_field :last, class: 'form-control', placeholder: "Last Name" %>
	</div>

	<div class="form-group">
	<%= f.label :email %>
	<%= f.text_field :email, class: 'form-control', placeholder: "Email Address" %>
	</div>

	<div class="form-group">
	<%= f.label :password %>
	<%= f.text_field :password, class: 'form-control', placeholder: "Password" %>
	</div>

	<%= f.submit 'Sign Me Up!' %>

</div>

	<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-default" data-toggle="modal" data-target="#signinModal" data-dismiss="modal">Already A User?</button>

    </div>
</div>
</div>
</div>

<% end %>






<button id="buttonTwo" class="btn btn-default" data-toggle="modal" data-target="#signinModal">Log In</button>

<div id="signinModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">

<h1>Sign In!</h1>
</div>

<div class="modal-body">
<%= form_for(:session, url: sessions_path) do |f| %>
	<div class="form-group">
    <%= f.label :email %> <%= f.text_field :email, class: 'form-control', placeholder: "Email" %>
    </div>

    <div class="form-group">
    <%= f.label :password %> <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
    </div>

    <%= f.submit "Sign In!" %>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button class="btn btn-default" data-toggle="modal" data-target="#signupModal" data-dismiss="modal">New User?</button>
</div>

</div>
</div>
</div>

<% end %>

<!-- <%= link_to "New User!", signup_path %>  -->







