<html>
	
<head>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvQPK_z7tyIdBpGxui6Jps_zZsPudqzJ4"> </script>
	<script type="text/javascript">
	navigator.geolocation.getCurrentPosition(latitude);
	navigator.geolocation.getCurrentPosition(longitude);
	function latitude(pos) {
  		var curr = pos.coords;
    	document.getElementById('getLat').value = 
      		curr.latitude
	};
	function longitude(pos) {
  		var curr = pos.coords;
    	document.getElementById('getLng').value = 
      		curr.longitude
	};	
	google.maps.event.addDomListener(window, 'load', initialize, latitude(pos), longitude(pos));

	</script>
</head>

<style type="text/css">
	
.panel-heading {
	color: #191975 !important;
	font-size: 40px;
	font-family: Ubuntu;
	font-weight: 700;
	text-align: center;
}

.panel-body {
	text-align: center;
	font-family: Ubuntu;
	font-size: 25px;
	color: #333333;
}

.container {
	margin-top: 100px;
}

.button {
	color: #191975;
}

a:link {
	color: #191975 !important;
	font-size: 12px;
}

a:visited {
	color: #191975;
}

a:hover {
	color: #666;
}

</style>


<body>


<div class="container">
<div class="col-lg-8 col-md-offset-2">
<div class="panel panel-default">
<div class="panel-heading">
<p>Your Current Latitude + Longitude</p>
</div><br/>

<div class="panel-body">
<%= form_for @map do |f| %>
	<div class="form-group">
	<%= f.label :latitude %><br>
	<%= f.text_field :latitude, id: "getLat" %><br/><br/>
	</div>
	<div class="form-group">
	<%= f.label :longitude %><br>
	<%= f.text_field :longitude, id: "getLng" %><br/><br/>
	</div>
	<div class="form-group button">
	<%= f.submit 'Save This Location To Map' %>
	</div>
<% end %>

<%= link_to "Back To Map", maps_path, 'data-no-turbolink' => true %><br/>
<%= link_to "Back To Dashboard", user_path(current_user) %>

</div>
</div>
</div>
</div>

</body>
</html>