<body>

  <div class="user-nav">
    <span><%= link_to "Dashboard", user_path(current_user) %></span>
      <span>|</span>
    <span><%= link_to "Log Out", logout_path, 'data-no-turbolink' => false %></span>
  </div>

	<div class="col-lg-4 col-lg-offset-4" id="u-e-div">
		<%= form_for(@user, :html => {:multipart => true}) do |f| %>

			<div class="input-group-lg">
				First Name: <%= f.text_field :first, class: 'form-control' %>
			</div><br/>

			<div class="input-group-lg">
				Last Name: <%= f.text_field :last, class: 'form-control' %>
			</div><br/>

			<div class="input-group-lg">
				Email Address: <%= f.text_field :email, class: 'form-control' %>
			</div><br/>	

			<div class="input-group-lg">
				Profile Photo: <%= f.file_field :avatar, class: 'form-control' %>
			</div><br/>

			<%= f.submit "Submit", class: 'btn btn-lg u-e-submit' %>
		<% end %>
	</div>
</body>