<div id="user-form">
	<%= form_for(@user, :html => {:multipart => true}) do |f| %>
		
		<%= f.label "Choose an avatar image: ", :avatar %>
		<%= f.file_field :avatar %>

		<%= f.label "Choose Photo 1: ", :avatar1 %>
		<%= f.file_field :avatar1 %>

		<%= f.label "Choose Photo 2: ", :avatar2 %>
		<%= f.file_field :avatar2 %>

		<%= f.label "Choose Photo 3: ", :avatar3 %>
		<%= f.file_field :avatar3 %>

		<%= f.label "Choose Photo 4: ", :avatar4 %>
		<%= f.file_field :avatar4 %>

		<%= f.label "Choose Photo 5: ", :avatar5 %>
		<%= f.file_field :avatar5 %>

		<%= f.label "Choose Photo 6: ", :avatar6 %>
		<%= f.file_field :avatar6 %>

		<%= f.submit "Add images!" %>
	<% end %>
</div>