<h1>DASHBOARD!</h1>

<%= link_to "Log Out", session_path, method: :delete %>

<h1> <%= current_user.first %> <%= current_user.last %> </h1>


<p> <%#= @user.email ORIGINAL FORMAT FOR ABOVE%> </p> 



<%= link_to "Add a New Location Post", new_post_path %>

<%= link_to "View My Location Map", maps_path %>

<%#= link_to "Add Current Lat/Lng to Database!", edit_user_path(current_user) %>

<%#= link_to "Send A Message!", new_message_path %>


