<html>
<head>

</head>


<body>
	
	<% if logged_in? %> 
		<div class="container">
		<div class="col-lg-12">
		<div class="panel panel-default">

		<div class="panel-heading u-s-panel-heading">
			<p class="u-s-title">Welcome, <%= current_user.first %>!</p>
			<p class="u-s-post-count">Entries Submitted: <span><%= @post_count %></span></p>
				<%= image_tag current_user.avatar.url(:small) %>
		</div>

		<br/>
		<div class="panel-body u-s-panel-body">
			<%= link_to "Create New Entry", new_user_post_path(@user), 'data-no-turbolink' => false %>
		</div>

		<div class="panel-body u-s-panel-body">
			<%= link_to "Manage Entries", user_posts_path(@user), 'data-no-turbolink' => false %>
		</div>

		<div class="panel-body u-s-panel-body">
			<%= link_to "- Browse Entry Collection -", posts_all_path %>
		</div>

		<div class="panel-body u-s-panel-body">
			<%= link_to "Update Personal Information", edit_user_path(@user) %>
		</div>

		<div class="panel-body u-s-panel-body">	
			<%= link_to "Log Out", logout_path, 'data-no-turbolink' => false %>
		</div><br/>
		</div>
		</div>
		</div>

	<% else %>
		<p style="color:white;font-size:40px;">You're logged out!</p>
		<%#= link_to "Log in", sessions_path %><br>
		<button style="height:100px; width:400px; font-size:35px;">
		<%= link_to "Return To Homepage", new_session_path %>
		</button>
	<% end %>

</body>

</html>


<%#= link_to "Add Current Lat/Lng to Database!", edit_user_path(current_user) %>

<%#= link_to "Send A Message!", new_message_path %>


