<html>
<head>

<script type="text/javascript">
	$('.carousel').carousel({
  interval: 1000
})
</script>
<style>

#carouselPics {
	width: 200px;
	margin: 0 auto;
}

.panel-heading {
	text-align: center;
	background-color: white !important;
	font-size: 45px;
	font-family: Ubuntu;
	font-weight: 700;
	color: #555 !important;
}

.panel-body {
	font-size: 30px;
	text-align: center;
	font-family: Ubuntu;
}

#logoutButton {
	font-size: 40px;
	text-align: center;
}

.panel {
	margin-top: 60px;
	border: solid 1px #fff; 
	box-shadow: 0px 0px 20px 27px #fff;
}

a:link {
	color: #193670;
}

a:hover {
	color: #193670;
	font-style: italic;
}

a:visited { 
  color: #193670;
}



</style>


</head>
	
	<% if logged_in? %> 

	<div class="container">
	<div class="col-lg-8 col-md-offset-2">


	<div class="panel panel-default">

	<div class="panel-heading">
		<%= image_tag current_user.avatar.url(:thumb) %>
		<p> <%= current_user.first %>'s Dashboard</p>
		
<div id="carouselPics" class="carousel slide" data-ride="carousel">

<ol class="carousel-indicators">
<li data-target="#carouselPics" data-slide-to="0" class="active"></li>
<li data-target="#carouselPics" data-slide-to="1"></li>
<li data-target="#carouselPics" data-slide-to="2"></li>
<li data-target="#carouselPics" data-slide-to="3"></li>
<li data-target="#carouselPics" data-slide-to="4"></li>
<li data-target="#carouselPics" data-slide-to="6"></li>
<li data-target="#carouselPics" data-slide-to="6"></li>
</ol>

<div class="carousel-inner">
<div class="item active">
  <%= image_tag current_user.avatar1.url(:medium) %>
</div>
<div class="item">
  <%= image_tag current_user.avatar2.url(:medium) %>
</div>
<div class="item">
  <%= image_tag current_user.avatar3.url(:medium) %> 
</div>
<div class="item">
  <%= image_tag current_user.avatar4.url(:medium) %>
</div>
<div class="item">
  <%= image_tag current_user.avatar5.url(:medium) %>
</div>
<div class="item">
  <%= image_tag current_user.avatar6.url(:medium) %> 
</div>
</div>

<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
<span class="icon-prev"></span>
</a>
<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
<span class="icon-next"></span>
</a>
</div>




	</div>

	<div class="panel-body">
		<%= link_to "Add a New Location Post", new_post_path, 'data-no-turbolink' => true %>
	</div>

	<div class="panel-body">
		<%= link_to "Manage My Location Posts", posts_path, 'data-no-turbolink' => true %>
	</div>

	<div class="panel-body">
		<%= link_to "View My Location Map", maps_path, 'data-no-turbolink' => true %>
	</div>

	<div class="panel-body">
		<%= link_to "Add/Edit Profile Photo", edit_user_path(current_user) %>
	</div>

	<div class="panel-body">	
		<%= link_to "Log Out", sessions_path, method: :delete %>
	</div>

	</div>
	</div>

</div>


	<% else %>
		<p style="color:white;font-size:40px;">You're logged out!</p>
		<%#= link_to "Log in", sessions_path %><br>
		<button style="height:100px; width:400px; font-size:35px;">
		<%= link_to "Return To Homepage", new_session_path %>
		</button>
	<% end %>

</html>


<%#= link_to "Add Current Lat/Lng to Database!", edit_user_path(current_user) %>

<%#= link_to "Send A Message!", new_message_path %>


