<!-- IF YOU SEE THIS PAGE, CHANGE root_path AT BOTTOM OF PAGE TO signup_path -->

	<% if logged_in? %> 
	<div id="loggedInPage">
		<p>Welcome back,  <%= current_user.first %> <%= current_user.last %>!</p>
	</div>

	<div>
		<%= button_to "Message Center", allmsgs_path %>
	</div>

	<div id="logoutButton">		
		<%= link_to "Log out", log_out_path, method: :delete %>
	</div>


	<% else %>
		<p style="color:white;font-size:40px;">You're logged out!</p>
		<!-- <%= link_to "Log in", sessions_path %><br> -->
		<button style="height:100px; width:400px; font-size:35px;">
		<%= link_to "Return To Homepage", root_path %>
		</button>
	<% end %>





