

<!--- SIGN UP MODAL SIGN UP MODAL SIGN UP MODAL SIGN UP MODAL SIGN UP MODAL  -->





<!-- LOG IN MODAL LOG IN MODAL LOG IN MODAL LOG IN MODAL LOG IN MODAL LOG IN MODAL --> 

<div id="signinModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">

<p class="signUpIn">Sign In!</p>
</div>

<div class="modal-body">
<%= form_for(:session, url: sessions_path) do |f| %>
	<div class="form-group">
    <%= f.label :email %> <%= f.text_field :email, class: 'form-control', placeholder: "Email" %>
    </div>

    <div class="form-group">
    <%= f.label :password %> <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
    </div><br/>

    <div class="submitButton">
    <%= f.submit "Sign In!" %>
    </div>
</div>

<div class="modal-footer">
	<br/>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button class="btn btn-default" data-toggle="modal" data-target="#signupModal" data-dismiss="modal">New User?</button>
</div>

</div>
</div>
</div>

<% end %>



<!-- PAGE ELEMENTS PAGE ELEMENTS PAGE ELEMENTS PAGE ELEMENTS PAGE ELEMENTS -->

<div id="theHeader">
	<p id="title" class="signUpIn">Back <span>&#x261E</span> Pack <span>&#x261E</span> Track</p>
</div>

<div id="theMiddle">
		<div class="row">
		<div class="col-lg-6 col-lg-offset-3 text-center">

			<button id="buttonOne" class="btn btn-default" data-toggle="modal" data-target="#signupModal">Sign Up</button>
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<button id="buttonTwo" class="btn btn-default" data-toggle="modal" data-target="#signinModal">Log In</button>

		</div>
		</div>
</div>


<div id="theFooter">

		<ul>
			<li>How It Works</li>

			<li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>

			<li>Top Destinations</li>

			<li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>


			<li>Contact Us</li>

			<li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>

			<li>FAQ</li>
		</ul>

</div>



