<p style="color:white; font-size:20px">You've been logged out<p>

<button>
<%= link_to "Return to Home Page", signup_path %>
</button>


<!--

<h1>Sign In!</h1>

<%= form_for(:session, url: sessions_path) do |f| %>
    <%= f.label :email %> <%= f.text_field :email %>
    <%= f.label :password %> <%= f.password_field :password %>

    <%= f.submit "Sign In!" %>
<% end %>

<%= link_to "New User!", signup_path %>

-->