<style type="text/css">
	.container {
		margin-top: 30px;
	}

	p {
		color: #555;
		font-size: 55px;
		font-family: Ubuntu;
		font-weight: 600;
		text-align: center;
	}

	.panel-heading {
		font-size: 30px;
		font-family: Ubuntu;
	}

	.panel-body {
		font-size: 20px;
		font-family: Ubuntu;
	}

</style>



<div class="container">
 <div class="panel panel-info col-lg-8 col-lg-offset-2">

  <div class="panel-body">
  <p>Submitted Posts</p>
  <%= link_to "Back To Dashboard", user_path(current_user) %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 
  <%= link_to "Log Out", sessions_path, method: :delete %>

  </div>
  </div>

<% @post.each do |p| %>

  <div class="panel panel-info col-lg-8 col-lg-offset-2">

  <div class="panel-heading">
    Location: <%= p.location %>
  </div>

  <div class="panel-body">
    Creation Date and Time: <%= p.created_at %><br/>
    <%= link_to "View Full Post", post_path(p) %>
  </div> 
 
</div>

<% end %>
  </div>




