  <div class="user-nav">
    <span><%= link_to "Dashboard", user_path(current_user) %></span>
      <span>|</span>
    <span><%= link_to "Log Out", logout_path, 'data-no-turbolink' => false %></span>
  </div>

  <div class="container p-s-container">
  <div class="col-lg-12 col-lg-offset-0">

  <div class="image-one-div"><%= image_tag @post.photo_one.url(:medium), class: 'post-image-one' %></div>
  <div class="image-two-div"><%= image_tag @post.photo_two.url(:medium), class: 'post-image-two' %></div>
  <div class="image-three-div"><%= image_tag @post.photo_three.url(:medium), class: 'post-image-three' %></div>
  <div class="image-four-div"><%= image_tag @post.photo_four.url(:medium), class: 'post-image-four' %></div>

  <p class="p-s-city-country"><%= @post.city %>, <%= @post.country %></p>

  <p class="p-s-user-submitted">Submitted By: <%= @user.first %> <%= @user.last[0] %>.</p>

  <div id="city-country-rating">
    <% if @post.rating == 1 %>
      <div class="c-filled"></div>
      <div class="c-empty"></div>
      <div class="c-empty"></div>
      <div class="c-empty"></div>
      <div class="c-empty"></div>
    <% elsif @post.rating == 2 %>
      <div class="c-filled"></div>
      <div class="c-filled"></div>
      <div class="c-empty"></div>
      <div class="c-empty"></div>
      <div class="c-empty"></div>
    <% elsif @post.rating == 3 %>
      <div class="c-filled"></div>
      <div class="c-filled"></div>
      <div class="c-filled"></div>
      <div class="c-empty"></div>
      <div class="c-empty"></div>
    <% elsif @post.rating == 4 %>
      <div class="c-filled"></div>
      <div class="c-filled"></div>
      <div class="c-filled"></div>
      <div class="c-filled"></div>
      <div class="c-empty"></div>
    <% elsif @post.rating == 5 %>
      <div class="c-filled"></div>
      <div class="c-filled"></div>
      <div class="c-filled"></div>
      <div class="c-filled"></div>
      <div class="c-filled"></div>
    <% end %>
  </div>

  <div class="panel panel-info p-s-panel">

    <div class="panel-heading p-s-panel-heading">
      <p>Hostel</p>
    </div>

    <div class="panel-body p-s-panel-body">
      <p class="hostel-name"><%= @post.hostel %>  <%= @post.hostel_rating %> / 5</p>
    </div>

    <div class="panel-body p-s-panel-body">
      <p><%= @post.hostel_review %></p>
    </div>

    <div class="panel-heading p-s-panel-heading">
      <p>Top 3 Recommended Sights</p>
    </div>

    <div class="panel-body p-s-panel-body">
      <p><%= @post.sight_one %></p>
    </div>

    <div class="panel-body p-s-panel-body">
      <p><%= @post.sight_two %></p>
    </div>

    <div class="panel-body p-s-panel-body">
      <p><%= @post.sight_three %></p>
    </div>    

    <div class="panel-heading p-s-panel-heading">
      <p>Favourite Eatery & Dish</p>
    </div>

    <div class="panel-body p-s-panel-body">
      <p><%= @post.eatery_dish %> @ <span class="eatery-span"><%= @post.eatery %></span></p>
    </div> 

    <div class="panel-heading p-s-panel-heading">
      <p>Safety Tips</p>
    </div>

    <div class="panel-body p-s-panel-body">
      <p><%= @post.safety_tips %></p>
    </div>

    <div class="panel-heading p-s-panel-heading">
      <p>Experience, Tips, & Recommendations</p>
    </div>

    <div class="panel-body p-s-panel-body">
      <p><%= @post.overall %></p>
    </div>

  </div>
  </div>
  </div>




